%message-shared {
	border​: ​1px​ solid ​#ccc​;​
	padding​: ​10px​;
	margin​: ​1rem​​0​;
	color​: ​#333​;
}

%equal-heights {​
	display​: flex;​
	flex-wrap​: wrap;
}

.message {
	@​extend​ %message-shared;
}

.success {
	@​extend​ %message-shared;​
	border-color​: green;
}

.error {
	@​extend​ %message-shared;​
	border-color​: red;
}

.warning {
	@​extend​ %message-shared;​
	border-color​: orange;
}
